<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="voice" value="Microsoft Zira Desktop" />
        <add key="rate" value="0" />
        <add key="respondToCorrectWithSpeech" value="True" />
        <add key="respondToIncorrectWithSpeech" value="True" />
        <add key="requiredWordAttempts" value="40" />
        <add key="responseSoundCorrect" value="C:\Windows\Media\tada.wav" />
        <add key="responseSoundIncorrect" value="C:\Windows\Media\ringout.wav" />
        <add key="responsesCorrect" value="Correct, Great, Good Job, Awesome, You got it, Excellent, Fantastic, Bravo, Oustanding, Sensational, Way to go" />
        <add key="responsesIncorrect" value="That was wrong, Sorry, Incorrect, You missed that one, Phooey you missed it" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>