<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="voice" value="Microsoft Zira Desktop" />
        <add key="rate" value="0" />
        <add key="respondToCorrectWithSpeech" value="True" />
        <add key="respondToIncorrectWithSpeech" value="True" />
        <add key="responsesCorrect" value="Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!,Correct!,Great!,Good Job!,Awesome!" />
        <add key="responsesIncorrect" value="That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one.,That was wrong!,Sorry, not correct.,You missed that one." />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>